@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind forms;

:root {
  --font-primary: #064E3B; /* 064E3B Emerald-900 */
  --background-primary: #f3f2e7; /* #f3f2e7 */
  --background-secondary: #064E3B; /* #064E3B Emerald-950 */
}

html, body {
  color: var(--font-primary);
  background: var(--background-primary);
  height: 100vh;
  min-width: 320px;
  cursor: default;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #064E3B #f3f2e7;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #f3f2e7;
}

*::-webkit-scrollbar-track:hover {
  background-color: #f3f2e7;
}

*::-webkit-scrollbar-track:active {
  background-color: #f3f2e7;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #064E3B;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #064E3B;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #064E3B;
}
