@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-primary: #064E3B; /* 064E3B Emerald-900 */
  --background-primary: #f3f2e7; /* #f3f2e7 */
  --background-secondary: #064E3B; /* #064E3B Emerald-950 */
}

html, body {
  color: var(--font-primary);
  background: var(--background-primary);
  height: 100vh;
  min-width: 320px;
}
